<div>
      {{#if posts.length}}
  <div>
    <h2>Your Posts</h2>

    {{#each posts as |post|}}

    {{> dashboard-postinfo post}}

    {{!-- <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{post.id}}">{{post.title}}</a></h4>
      </div>
    </div> --}}

    {{/each}}
  </div>
  {{/if}}
</div>

 <button type="submit" class="btn"><a href="/dashboard/new">New Post</a></button>
